* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: normal;
  touch-action: none;
}

:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";
  --font-inter: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-2xl: 21px;
  --font-size-lg: 18px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.85);
  --color-white: #fff;
  --color-slateblue: #5454d4;

  /* border radiuses */
  --br-214xl-5: 233.5px;
  --br-9xs: 4px;
  --br-8xs: 5px;
  /* zoom fix */
  -webkit-text-size-adjust: auto;
}
/* remove scrollbar */
::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
}
/* transition animation */
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
/* Loader */
.loader-body {
	width: 100%;
	height: 100vh;
  background-color: rgb(30, 30, 32);
	position: fixed;
	z-index: 2;
	visibility: visible;
	top: 0;
	left: 0;
	text-align: center;
	justify-content: center;
	align-content: center;
	transition: 2s all;
}
.loader {
  position: relative;
	width: 50px;
	height: 50px;
	border: 6px black solid;
	border-radius: 50%;
	border-top-color: white ; /*Here you can change color of the loader spin*/
	transform: translate(-50%, -50%);
	top: 45%;
	left: 50%;
	-webkit-animation: 1s spin infinite linear;
	-o-animation: 1s spin infinite linear;
	animation: 1s spin infinite linear;

}
.loader-body.done {
	visibility: hidden;
	opacity: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Text Selection */
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}