* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: normal;
  touch-action: none;
}

:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";
  --font-inter: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-2xl: 21px;
  --font-size-lg: 18px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.85);
  --color-white: #fff;
  --color-slateblue: #5454d4;

  /* border radiuses */
  --br-214xl-5: 233.5px;
  --br-9xs: 4px;
  --br-8xs: 5px;
  /* zoom fix */
  -webkit-text-size-adjust: auto;
}
/* remove scrollbar */
::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}