* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: normal;
  touch-action: none;
}

:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";
  --font-inter: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-2xl: 21px;
  --font-size-lg: 18px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.85);
  --color-white: #fff;
  --color-slateblue: #5454d4;

  /* border radiuses */
  --br-214xl-5: 233.5px;
  --br-9xs: 4px;
  --br-8xs: 5px;
  /* zoom fix */
  -webkit-text-size-adjust: auto;
}
/* remove scrollbar */
::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
}
/* transition animation */
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

/* Loader */
.loader-body {
	width: 100%;
	height: 100vh;
  background-color: rgb(30, 30, 32);
	position: fixed;
	z-index: 2;
	visibility: visible;
	top: 0;
	left: 0;
	text-align: center;
	justify-content: center;
	align-content: center;
	transition: 2s all;
}
.loader {
  position: relative;
	width: 50px;
	height: 50px;
	border: 6px black solid;
	border-radius: 50%;
	border-top-color: white ; 
	transform: translate(-50%, -50%);
	top: 45%;
	left: 50%;
	-webkit-animation: 1s spin infinite linear;
	-o-animation: 1s spin infinite linear;
	animation: 1s spin infinite linear;

}
.loader-body.done {
	visibility: hidden;
	opacity: 0;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Text Selection */
::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
@media (max-width: 1200px) {
  .desktop-only {
    display: none; 
  }
  .mobile-only {
    display: block; 
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform-origin: top;
  width: 100vw;
  height: 100vh;
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close-button {
  position: absolute;
  top: 40px;
  right: 30px;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.close-button:focus {
  outline: none;
}

.mobile-menu .nav-item {
  margin-bottom: 12px;
}

.mobile-menu .nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.mobile-menu .nav-item.active a {
  font-weight: bold;
  position: relative;
  color: #fff;
  text-decoration: none;
  animation: glowMobile 2.5s;
}

@keyframes glowMobile {
  0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 500);
  }

  100% {
    text-shadow: none;
  }
}

.mobile-menu .nav-item.active a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  animation: underlineMobile 1.5s ease-in-out infinite;
  opacity: 0;
}

@keyframes underlineMobile {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  50% {
    transform: scaleX(1);
    opacity: 1;
  }

  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .navbar .nav-item {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 42px;
    right: 20px;
  }

  .menu-toggle .icon {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s ease;
  }

  .mobile-menu {
    display: none;
    padding: 16px;
  }

  .mobile-menu.active {
    display: block;
  }
}
body {
  font-family: var(--font-inter), sans-serif;
  background-color: #19191b;
  color: var(--color-white);
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 824px) {

  .ia-hispano-wrapper {
    left: 20px !important;
  }
  .loader{
    top: 50% !important;
  }
  @media (max-width: 1919px) {
    .boton-ncomunidad {
      position: fixed !important;
      right: 20px !important;
      left: unset !important;
    }
  }

}
.demos-pages-support {
  position: relative;
  letter-spacing: -0.5px;
  color: #5865f2;
}
.demos-pages-support1 {
  position: relative;
}
.demos-pages-support-parent {
  position: absolute;
  top: 49px;
  left: calc(50% - 257px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  max-width: 1100px; 
  margin: 0 auto;
}
