.inicio-child {
  position: absolute;
  top: 3130.31px;
  left: 2120.24px;
  border-radius: var(--br-214xl-5);
  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.2),
    rgba(84, 84, 212, 0.08)
  );
  filter: blur(300px);
  width: 599.58px;
  height: 652.85px;
  transform: rotate(-125.63deg);
  transform-origin: 0 0;
}
.inicio-item {
  top: 161px;
  left: 1821.44px;
  background: linear-gradient(
    180deg,
    rgba(251, 168, 28, 0.11),
    rgba(224, 86, 136, 0.06)
  );
  width: 467px;
  height: 1399.3px;
  transform: rotate(65.71deg);
}
.inicio-inner,
.inicio-item,
.rectangle-div {
  position: absolute;
  border-radius: var(--br-214xl-5);
  filter: blur(300px);
  transform-origin: 0 0;
}
.inicio-inner {
  top: 1759px;
  left: 1663.79px;
  background: linear-gradient(
    180deg,
    rgba(251, 168, 28, 0.05),
    rgba(224, 86, 136, 0.02)
  );
  width: 860px;
  height: 2576.87px;
  transform: rotate(65.71deg);
}
.rectangle-div {
  top: 231.97px;
  left: -401.52px;
  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.27),
    rgba(84, 84, 212, 0.11)
  );
  width: 467px;
  height: 1233.79px;
  transform: rotate(-54.37deg);
}
.build-your-next,
.create-custom-landin {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 84px;
  display: inline-block;
  width: 691px;
}
.create-custom-landin {
  top: 187px;
  font-size: var(--font-size-2xl);
  letter-spacing: -0.66px;
  line-height: 39px;
  font-family: var(--font-nunito-sans);
  color: rgba(255, 255, 255, 0.7);
  width: 734px;
}
.texto-izq {
  top: 339px;
  left: 120px;
  width: 734px;
  height: 304px;
}
.bg,
.bg-wrapper,
.texto-izq {
  position: absolute;
}
.bg {
  height: 105.41%;
  width: 101.13%;
  top: -2.7%;
  right: -0.56%;
  bottom: -2.7%;
  left: -0.56%;
  border-radius: var(--br-8xs);
  backdrop-filter: blur(2px);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
}
.bg-wrapper {
  height: 3.43%;
  width: 9.22%;
  top: 3.98%;
  right: 5.16%;
  bottom: 92.59%;
  left: 85.63%;
}
.ia-hispano {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
}
.ia-hispano-wrapper {
  position: absolute;
  top: 30px;
  left: 89px;
  width: 160px;
  height: 39px;
  font-size: 28px;
  font-family: var(--font-montserrat);
}
.contctanos,
.contctanos-wrapper {
  position: absolute;
  width: 165px;
  height: 31px;
}
.contctanos {
  top: -5px;
  left: 0;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  text-decoration: none;
}
.contctanos-wrapper {
  top: 46px;
  left: 1649px;
  text-align: center;
  font-size: 19px;
}
.demos-pages-support {
  position: relative;
  letter-spacing: -0.5px;
  color: #5865f2;
}
.demos-pages-support1 {
  position: relative;
}
.demos-pages-support-parent {
  position: absolute;
  top: 49px;
  left: calc(50% - 257px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  max-width: 1100px; 
  margin: 0 auto;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(30, 30, 32, 0.5);
  width: 1440px;
  height: 324px;
}
.save-tons-of {
  position: absolute;
  top: 88px;
  left: 281px;
  display: inline-block;
  width: 958px;
}
.bg1,
.get-beta-access {
  position: absolute;
  width: 100%;
}
.bg1 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-slateblue);
}
.get-beta-access {
  top: calc(50% - 30px);
  left: 7.46%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.discord-mark-white-1-icon {
  position: absolute;
  top: 19px;
  left: 65px;
  width: 28px;
  height: 21px;
  object-fit: cover;
}
.button,
.cta {
  position: absolute;
}
.button {
  top: 206px;
  left: 820px;
  border-radius: var(--br-9xs);
  width: 201px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-2xl);
  font-family: var(--font-nunito-sans);
}
.cta {
  top: 3795px;
  left: 0;
  width: 1440px;
  height: 324px;
  font-size: 60px;
}
.boton-ncomunidad-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-slateblue);
  width: 247px;
  height: 58px;
}
.arrow-right-up-icon,
.boton-ncomunidad-item {
  position: absolute;
  top: 16px;
  left: 22.97px;
  width: 20.42px;
}
.arrow-right-up-icon {
  left: 211px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.nuestra-comunidad {
  position: absolute;
  top: 0;
  left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 58px;
}
.boton-ncomunidad {
  position: absolute;
  top: 683px;
  left: 120px;
  width: 247px;
  height: 58px;
  text-align: center;
  font-size: 20px;
  font-family: var(--font-nunito-sans);
}
.inicio-child1 {
  position: absolute;
  top: 2049.59px;
  left: -312px;
  border-radius: var(--br-214xl-5);
  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.21),
    rgba(84, 84, 212, 0.09)
  );
  filter: blur(300px);
  width: 467px;
  height: 508.5px;
  transform: rotate(-54.37deg);
  transform-origin: 0 0;
}
.group-icon,
.vector-icon {
  position: absolute;
  top: 1575px;
  left: 58px;
  width: 104.66px;
  height: 120.07px;
}
.vector-icon {
  top: 3569px;
  left: 74px;
  width: 95px;
  height: 28px;
}
.inicio-child2,
.inicio-child3 {
  position: absolute;
  top: 184px;
  left: 1709px;
  width: 51px;
  height: 60px;
}
.inicio-child3 {
  top: 3765px;
  left: 31px;
}
.add-icon,
.add-icon1,
.add-icon2,
.add-icon3 {
  position: absolute;
  top: 716px;
  left: 1723px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.add-icon1,
.add-icon2,
.add-icon3 {
  top: 2101.89px;
  left: 1719px;
  width: 42px;
  height: 42px;
}
.add-icon2,
.add-icon3 {
  top: 3806px;
  left: 1708px;
}
.add-icon3 {
  top: 2788.03px;
  left: 110.01px;
}
.inicio-child4 {
  position: absolute;
  top: 325px;
  left: 1427.5px;
  border-radius: 22.18px;
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 379.34px;
  height: 379.34px;
  transform: rotate(23.64deg);
  transform-origin: 0 0;
}
.inicio-child5 {
  position: absolute;
  top: 168px;
  left: 1151px;
  width: 638px;
  height: 682.07px;
  object-fit: cover;
}
.inicio {
  position: absolute;
  background-color: #19191b;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  text-align: left;
  font-size: 80px;
  color: var(--color-white);
  font-family: var(--font-inter);
  background-size: 100%;
}

.boton-ncomunidad:visited .nuestra-comunidad {
  color: #ffffff;
}
a,
button {
  color: inherit !important;
  text-decoration: none;
}


@media (max-width: 768px) {

.build-your-next {
  font-size: 70px;
  max-width: 80px;
  line-height: 80px !important;
}
.texto-izq  {
  top: 140px !important;
  margin-left: 10px;
  left: 10px !important;
  padding: 20px;
}
.create-custom-landin {
  margin-top: 500px;
  max-width: 200px; 
}
.ia-hispano-wrapper {
  left: 20px !important;
}
.boton-ncomunidad {
  left: 120px !important;
  top: 700px !important;
}
.create-custom-landin {
  text-align: center;
  right: 100px  !important;
}

.loader{
  top: 50% !important;
}

}